<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/gitredlocus/redis.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>unstable</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

tools_path=/opt/redlocus/tools
parsers_path=/opt/redlocus/parsers
report_path=/var/lib/jenkins/jobs/${JOB_NAME}/reports
latest_path=/var/lib/jenkins/jobs/${JOB_NAME}/reports/latest

mkdir -p $report_path
mkdir -p $latest_path
mkdir -p $report_path/${JOB_NAME}_${BUILD_NUMBER}

find . -name *.c | xargs $tools_path/pmccabe -v &gt; /tmp/tmp.$$$$ 
head -7 /tmp/tmp.$$$$ &gt; $report_path/${JOB_NAME}_${BUILD_NUMBER}/mcc.txt

rm /tmp/tmp.$$$$
find . -name *.c | xargs $tools_path/pmccabe | tail -n +8 | sort -rn  &gt;&gt; $report_path/${JOB_NAME}_${BUILD_NUMBER}/mcc.txt

python $parsers_path/mcc_parser.py $report_path/${JOB_NAME}_${BUILD_NUMBER}/mcc.txt $report_path/${JOB_NAME}_${BUILD_NUMBER}/mcc.JSON

cp $report_path/${JOB_NAME}_${BUILD_NUMBER}/* $latest_path</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>MCC Report</reportName>
          <reportDir>../reports/latest</reportDir>
          <reportFiles>mcc.txt</reportFiles>
          <keepAll>false</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers/>
</project>